<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="../css/style.css"/>
    <meta name="viewport" content="width=device-width"/>
    <title></title>
    <style type="text/css">
        a{
            color: gold;
        }
    </style>

</head>
<body class="bg">
<header th:replace="fragment::headerpart"/>
<!--input-->
<section id="showcase">
    <div class="container"></div>
<!--<div class="container">-->
    <div class="row justify-content-center">
        <div class="col col-sm-6 form-group">

            <h2 th:text="'Welcome '+${currentuser.personFirstName} +' '+${currentuser.personLastName}"></h2>

            <div class="row justify-content-center">
                <div class="col col-sm-12 form-group">
                    <p>Your username:<span  th:text="${currentuser.username}"></span> </p>
                    Your role:<span th:each="role : ${currentuser.secRoles}" th:text="${role.secRoleName}"></span>
                    <p>Your password:<span th:text="${currentuser.password}"></span></p>
                    <h3> Please click on sign in button with your credentials</h3>
                    <a sec:authorize="isAnonymous()"  class="btn btn-success" th:href="@{/login}">Sign in</a>
                </div>
            </div>
        </div>
    </div>

</section>

<footer th:replace="fragment::footerpart"/>
</body>
</html>