<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <!--header css declarations-->
    <th:block th:replace="base :: W7CHead"/>
    <title>Resume Generator</title>

</head>
<body class="bg">

<!--Navigation bar-->
<div th:replace="base :: W7CNav"></div>


<!--input-->
<div class="container">
    <div class="row justify-content-center">
        <div class="col col-sm-6 form-group">
            <h1>Roboresume</h1>
            <h3 th:text="'Welcome '+${currentuser.personFirstName} +' '+${currentuser.personLastName}"></h3>
            <h3> Please click on sign in button with your credentials</h3>
            <div class="row justify-content-center">
                <div class="col col-sm-12 form-group">
                    <p>Your username:<span th:text="${currentuser.username}"></span>
                    Your role:<span th:each="role : ${currentuser.secRoles}" th:text="${role.secRoleName}"></span>
                    Your password:<span th:text="${currentuser.password}"></span>
                    <a sec:authorize="isAnonymous()" class="nav-item nav-link" th:href="@{/login}">Sign in</a>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:replace="base :: W7CJS"></th:block>


</body>
</html>