<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="../css/style.css"/>
    <meta name="viewport" content="width=device-width"/>

    <title>Resume Building App</title>

</head>
<header th:replace="fragment::headerpart"/>
<body class="bg">

<section id="showcase">
<!--input-->
<div class="container">
    <div class="row justify-content-center">
        <div class="col col-sm-10">
            <form action="#" th:action="@{/addperson}" th:object="${newPerson}" method="post">
                <div class="row justify-content-center">
                    <input type="hidden" th:field="*{personId}"/>
                    <div class="col col-sm-6 form-group">
                        <label for="firstName">First name</label>
                        <input type="text" class="form-control" th:field="*{personFirstName}" id="firstName"
                               autofocus="autofocus" placeholder="Given name"/>
                        <!--<span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"/>-->

                    </div>
                    <div class="col col-sm-6 form-group">
                        <label for="lastName">Last name</label>
                        <input type="text" class="form-control" th:field="*{personLastName}" id="lastName"
                               placeholder="Family name"/>
                        <!--<span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"/>-->
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col col-sm-12 form-group">
                        <label for="email">Email address</label>
                        <input type="email" class="form-control" th:field="*{personEmail}" id="email"
                               placeholder="name@example.com"/>
                        <!--<span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"/>-->
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col col-sm-12">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

</section>
<footer th:replace="fragment::footerpart"/>
</body>
</html>