<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">

<head th:fragment="headingpart">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width"/>
    <link rel="stylesheet" href="/css/style.css"/>

</head>
<body>
<header th:fragment="headerpart">
    <div class="container" align="center">
        <div id="branding">
            <h1><span class="highlight">Resume Building App</span></h1>
        </div>
                    <div class="navbar-nav"align="right">
                            <a class="nav-item nav-link" th:href="@{/home}">Home</a>
                            <a sec:authorize="isAnonymous()" class="nav-item nav-link" th:href="@{/login}">Sign in</a>
                            <a sec:authorize="isAuthenticated()" class="nav-item nav-link" th:href="@{/logout}">Sign out</a>

                    </div>
    </div>
</header>
</body>
<footer align="center" th:fragment="footerpart">
    <div class="footer navbar-fixed">
        <p>Resume Building App, Developed By Ratna Maharjan; 2017</p>
    </div>
</footer>
</html>