<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!--<head th:fragment="headingpart">-->
<head>


    <!--<th:block th:replace="base :: W7CHead"/>-->
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="../css/style.css"/>
    <meta name="viewport" content="width=device-width"/>
    <title></title>
</head>
<body class="bg">
<header th:replace="fragment::headerpart"/>
<!--<div th:replace="base :: W7CNav"></div>-->
<!--<div class="container">-->
    <!--<div class = "jumbotron">-->
<section id="showcase">
   <div class="container"></div>

        <div class="col col-sm-8">
            <h2>Resume Building App!</h2>
            <div th:if="${param.error}">Invalid username or invalid password</div>
            <div th:if="${param.logout}">You have been logged out</div>
            <form class="form-group" th:action="@{/login}" method="post">
                <div><label >User name: <input type="text" name="username"/></label></div><br/>
                <div><label>Password: <input type="password" name="password"/></label></div>
                <div><input type="submit" class="btn btn-primary" value="Sign In"/></div>
            </form>
        </div>
    <!--</div>-->
</section>
            <!--<th:block th:replace="base :: W7CJS"></th:block>-->
    <footer th:replace="fragment::footerpart"/>
</body>
</html>