<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="../css/style.css"/>
    <meta name="viewport" content="width=device-width"/>

    <!--<th:block th:replace="base :: W7CHead"/>-->
    <title>Resume Building App!</title>

</head>
<body class="bg">
<!--Navigation bar-->
<!--<div th:replace="base :: W7CNav"></div>-->
<header th:replace="fragment::headerpart"/>

<!--input-->
<div class="container" align="center">
    <div class="row justify-content-center">
        <div class="col col-sm-10 form-group">
            <!--Search job description-->
            <h1> Search Jobs by following categories:</h1>
            <form action="#" th:action="@{/searchdesc}" th:object="${searchjob}" method="post">
                <div class="row justify-content-center">
                    <div class="col col-sm-4 form-group">
                        <label>By descriptions: </label>
                        <input type="text" class="form-control" th:field="*{jobDescription}" autofocus="autofocus"/><br />
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div><br />
                <!--</div>-->
                <!--<div class="row justify-content-center">-->
                    <!--<div class="col col-sm-12">-->
                        <!--<button type="submit" class="btn btn-primary">Submit</button>-->
                    <!--</div>-->
                <!--</div>-->
                </div>
            </form>
            <!--Search job employers-->
            <form action="#" th:action="@{/searchco}" th:object="${searchjob}" method="post">
                <div class="row justify-content-center">
                    <div class="col col-sm-4 form-group">
                        <label>By employers: </label>
                        <input type="text" class="form-control" th:field="*{jobEmployer}" /><br />
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div><br />
            </form>
            <!--Search people-->
            <form action="#" th:action="@{/searchname}" th:object="${searchpeople}" method="post">
                <div class="row justify-content-center">
                    <div class="col col-sm-4 form-group">
                        <label>By Person's name: </label>
                        <input type="text" class="form-control" th:field="*{personFirstName}" /><br />
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>

            </form>

        </div>
    </div>
</div>

<!--<th:block th:replace="base :: W7CJS"></th:block>-->
<footer th:replace="fragment::footerpart"/>
</body>
</html>