<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="../css/style.css"/>
    <meta name="viewport" content="width=device-width"/>
    <style type="text/css">
        a{
            color: gold;
        }
    </style>
    <title>Resume Building App</title>
</head>
<body>
<header th:replace="fragment::headerpart"/>
<!--input-->
<section id="showcase">
<div class="container" align="center">
    <div class="row justify-content-center">
        <div class="col col-sm-6 form-group">
            <h2>Resume Building App!</h2>
            <h3>Posted jobs are:</h3>
            <table content="center" border="1">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Employer</th>
                    <th>Salary Range</th>
                    <th>More</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="job:${Jobs}">
                    <td th:text="${job.jobTitle}"></td>
                    <td th:text="${job.jobEmployer}"></td>
                    <td th:text="${job.jobSalaryRange}"></td>
                    <td>
                        <a th:href="@{/submitjob/{jobId}(jobId=${job.jobId})}">Details</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</section>
<footer th:replace="fragment::footerpart"/>

</body>
</html>