<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="../css/style.css"/>
    <meta name="viewport" content="width=device-width"/>

    <title>Resume Building App</title>
</head>
<body class="bg">
<header th:replace="fragment::headerpart"/>

<div class="container" align="center">
    <div class="row justify-content-center">
        <div class="col col-sm-8">
            <h2>Here is the job just entered :</h2>
            <table class="table">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Employer</th>
                    <th>Salary Range</th>
                    <th>Description</th>
                    <th>Skills</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td th:text="${newJob.jobTitle}"></td>
                    <td th:text="${newJob.jobEmployer}"></td>
                    <td th:text="${newJob.jobSalaryRange}"></td>
                    <td th:text="${newJob.jobDescription}"></td>
                    <td th:text="${newJob.jobSkills}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row justify-content-center" align="center">
        <h2>What would you like to do next?</h2>
        <a class="btn btn-primary" th:href="@{/addjob}" role="button">Add next job</a>
        <p><a type="button" class="btn btn-primary" th:href="@{/showjobs}">View all listed jobs</a></p>
        <a class="btn btn-primary" th:href="@{/home}">Go back to Home</a>
    </div>
</div>

<footer th:replace="fragment::footerpart"/>
</body>
</html>