<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="../css/style.css"/>
    <meta name="viewport" content="width=device-width"/>

    <title>Resume Building App!</title>
</head>
<body class="bg">

<header th:replace="fragment::headerpart"/>
<div class="container">
    <div class="row justify-content-center">
        <div class="col col-sm-8">
            <h3 align="center"> Your skill information:</h3>
            <table class="table" align="center">
                <thead>
                <tr>
                    <th>Skill</th>
                    <th>Level</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td th:text="${currentSkill.skillName}"></td>
                    <td th:text="${currentSkill.skillLevel}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <h4 align="center">What Would you like to do next?</h4>
    <div class="row justify-content-center" align="center">
        <a class="btn btn-success" th:href="@{/addskill/{id}(id=${currentPerson.personId})}" role="button">Add another skill</a>
        <a class="btn btn-primary" th:href="@{/addexp/{id}(id=${currentPerson.personId})}" role="button">Add an experience</a>
        <a class="btn btn-success" th:href="@{/addeducation/{id}(id=${currentPerson.personId})}" role="button">Add a school</a>
        <a class="btn btn-primary" th:href="@{/home}">Go back to Home</a>

    </div>
</div>

<footer th:replace="fragment::footerpart"/>
</body>
</html>