<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="../css/style.css"/>
    <meta name="viewport" content="width=device-width"/>
    <style type="text/css">
        a{
            color: gold;
        }
    </style>

    <title>Resume Building App!</title>
</head>
<body>

<header th:replace="fragment::headerpart"/>
<section id="showcase">
<div class="container" align="center">
    <div class="row justify-content-center">
        <div class="col col-sm-8">
            <h3 align="center">Your Work History:</h3>
            <!--<h1>Your work experience: <span th:text="${currentPerson.personFirstName}+' '+${currentPerson.personLastName}"/></h1>-->

            <table class="table">
                <thead>
                <tr>
                    <th>Company</th>
                    <th>Title</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>First Duty</th>
                    <th>Second Duty</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td th:text="${newExp.expCompany}"></td>
                    <td th:text="${newExp.expTitle}"></td>
                    <td th:text="${newExp.expStartDate}"></td>
                    <td th:text="${newExp.expEndDate}"></td>
                    <td th:text="${newExp.expFirstDuty}"></td>
                    <td th:text="${newExp.expSecondDuty}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <h4 align="center">What would you like to do next?</h4>
    <div class="row justify-content-center">
        <a class="btn btn-primary" th:href="@{/addexp/{id}(id=${currentPerson.personId})}" role="button">Add another experience</a>

            <a class="btn btn-success" th:href="@{/addeducation/{id}(id=${currentPerson.personId})}" role="button">Add more school information</a>
            <a class="btn btn-primary" th:href="@{/addskill/{id}(id=${currentPerson.personId})}" role="button">Add more skill</a>
        <a class="btn btn-success" th:href="@{/home}">Go back to Home</a>
            <!--<a class="btn btn-primary" th:href="@{/addexp/{id}(id=${currentPerson.personId})}" role="button">Add an experience</a>-->

    </div>
</div>
</section>

<footer th:replace="fragment::footerpart"/>
</body>
</html>